//.row{
//  margin: 1rem  10rem;
//
//  .list-group{
//    background-color: #fff;
//    height: 50vh;
//    padding: 10px 20px;
//  }
//}
mat-list{
  max-width: 20%;
  border: 1px solid #666666;
  margin-top: 1rem;
}
.example-input-wrapper{
  width: 200px;
}
.mat-icon{
  float: right;
}

